[submodule "test/qunit"]
	path = test/qunit
	url = git://github.com/jquery/qunit.git
[submodule "test/requirejs"]
	path = test/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "test/curl"]
	path = test/curl
	url = https://github.com/cujojs/curl.git
